.keyboard {
    background-color: transparent;
    display: flex;
    /* grid-template-columns:repeat(13, minmax(50px, 1fr)); */
    gap:0.5rem;
    flex-wrap:wrap;
    justify-content: center;
    height: auto;
    width:99%;
    max-width: 800px;
    

}

.keys {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem;
    align-self:flex-end;
    min-width:50px;
    min-height: 50px;
    border: 2px solid black;
    cursor:pointer;
    background-color: #c59024;
}

.keys.active {
    background-color:#8f5c15;
   
}

.keys.inactive {
    background-color:#c7a164;
    opacity: .2;
}


.keys:hover:not(:disabled),
.keys:focus:not(:disabled) {
    background-color:#b85005;
    color: #ffe6a7 ;
}                               